{% extends "base_logged_in.html" %}

{% block left_bar %}

{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actors.css') }}" />

    {% if request.args.get('success') %}
        <p class="bg-success new_actor_success">Operation successful.</p>
    {% endif %}

    <h3>Actor</h3>

    <table class="table">
        {% for key, value in actor.iteritems() %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/actors/{{actor['id']}}/edit">Edit this actor</a>

{% endblock %}
