{% extends "base.html" %}

{% block body %}

    <div class="background_left"></div>

    <div class="dashboard_left">

        {% block left_bar %}
        {% endblock %}

    </div>

    <div class="dashboard_right">


        <div id="content_header">
        {% block content_header %}
                <h2 class="top_title">Rights Violation Documentation</h2>
                <div id="settings">
                    <ul>
                        <li><i class="fa fa-sign-out"></i> <a href="/logout">logout</a></li>
                        <li><i class="fa fa-cog"></i> <a href="/settings">settings</a></li>
                    </ul>
                </div>
        {% endblock %}
        </div>

        {% block content %}
        {% endblock %}

    </div>

{% endblock %}