{% extends "base.html" %}

{% block body %}

    <div class="background_left"></div>

    <div class="dashboard_left">
        <div class="actors_menu">
            <h3 class="data_filters"><i class="fa fa-user"></i> {{ _("Actors") }}</h3>
            <ul>
                <li><a href="/actors/add"><i class="fa fa-caret-right"></i> {{ _("Add actor") }}</a></li>
                <li><a href="/actors/all"><i class="fa fa-caret-right"></i> {{ _("View all actors") }}</a></li>
            </ul>
        </div>
        <div class="events_menu">
            <h3 class="data_filters"><i class="fa fa-bolt"></i> {{ _("Events") }}</h3>
            <ul>
                <li><a href="/events/add"><i class="fa fa-caret-right"></i> {{ _("Add event") }}</a></li>
                <li><a href="/events/all"><i class="fa fa-caret-right"></i> {{ _("View all events") }}</a></li>
            </ul>
        </div>
        <div class="meta_menu">
            <h3 class="data_filters"><i class="fa fa-file"></i> {{ _("Meta") }}</h3>
            <ul>
                <li><a href="/organisations/all"><i class="fa fa-caret-right"></i> {{ _("Organisations") }}</a></li>
                <li><a href="/locations/all"><i class="fa fa-caret-right"></i> {{ _("Locations") }}</a></li>
                <li><a href="/professions/all"><i class="fa fa-caret-right"></i> {{ _("Professions") }}</a></li>
                <li><a href="/international_authorities/all"><i class="fa fa-caret-right"></i> {{ _("International Authorities") }}</a></li>
                <li><a href="/prison_types/all"><i class="fa fa-caret-right"></i> {{ _("Prison Types") }}</a></li>
                <li><a href="/prisons/all"><i class="fa fa-caret-right"></i> {{ _("Prisons") }}</a></li>
                <li><a href="/release_types/all"><i class="fa fa-caret-right"></i> {{ _("Release Types") }}</a></li>
                <li><a href="/rights_violations/all"><i class="fa fa-caret-right"></i> {{ _("Rights Violations") }}</a></li>
                <li><a href="/sources/all"><i class="fa fa-caret-right"></i> {{ _("Sources") }}</a></li>
                <li><a href="/state_authorities/all"><i class="fa fa-caret-right"></i> {{ _("State Authorities") }}</a></li>
                <li><a href="/evidence_types/all"><i class="fa fa-caret-right"></i> {{ _("Evidence Type") }}</a></li>
            </ul>
        </div>
        <div class="upload_menu">
            <h3 class="data_filters"><i class="fa fa-upload"></i> {{ _("Upload documents") }}</h3>
            <ul>
                <li><a href="/document/add"><i class="fa fa-caret-right"></i> {{ _("Upload documents") }}</a></li>
            </ul>
        </div>

        {% block left_bar %}
        {% endblock %}

    </div>

    <div class="dashboard_right">
        <div id="content_header">
        {% block content_header %}
            {% include 'top_menu.html' %}
        {% endblock %}
        </div>

        {% block content %}
        {% endblock %}

    </div>

{% endblock %}