{% extends "base_logged_in.html" %}

{% block left_bar %}

{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documents.css') }}" />

    {% if request.args.get('success') %}
        <p class="bg-success new_actor_success">Successfully added new document.</p>
    {% endif %}

    <div class="new_actor_form">

        <h3>Upload new document</h3>
<form method="POST" enctype="multipart/form-data" action="/document/upload">
  <input type="file" name="file[]" multiple="">
    <input type="submit" value="add">
    </form>

    </div>

{% endblock %}
