{% extends "data_template.html" %}

{% block left_bar %}

{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actors.css') }}" />
    {% if needs_admin and not current_user.is_admin %}
        <div class="only_admin">Only administrators can access this section.</div>
    {% else %}

        {% if request.args.get('success') %}
            <p class="bg-success new_actor_success">Operation successful.</p>
        {% endif %}

        <h3>{{ data['name'] }}
        {% if event and event['report_date'] %}: report date: {{ event['report_date'] }} {% endif%}
        </h3>

        <table class="table">
            {% for key, value in data['data'].iteritems() %}
                {% if value != None and key!= None %}
                <tr>
                    <td width="300">{{key}}</td>
                    <td>{{value|safe}}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>

        <p><a href="/{{ data['plural_slug'] }}/{{data['data']['id']}}/edit">Edit this {{ data['name'] }}</a></p>
        <p><a href="/{{ data['plural_slug'] }}/{{data['data']['id']}}/delete">Delete this {{ data['name'] }}</a></p>
        <p><a href="/{{ data['plural_slug'] }}/all">View all {{ data['plural'] }}</a></p>
        <p><a href="/{{ data['plural_slug'] }}/add">Add a new {{ data['name'] }}</a></p>

    {% endif %}

{% endblock %}