{% extends "data_template.html" %}

{% block left_bar %}

{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actors.css') }}" />

    {% if needs_admin and not current_user.is_admin %}
        <div class="only_admin">Only administrators can access this section.</div>
    {% else %}

        {% if request.args.get('success') %}
            <p class="bg-success new_actor_success">Operation successful.</p>
        {% endif %}
        <h3>all {{ data['plural'] }}</h3>

        {% if data['data'] %}
        <table class="table">
            <tr>
                <th>{% if data['data'][0]['name']%}Name{% endif %}{% if data['data'][0]['title']%}Title{% endif %}{% if data['data'][0]['email']%}Email{% endif %}</th>
                <th>Owner</th>
                {% if data['data'][0]['report_date'] %} <th>Report date</th> {% endif %}
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for item in data['data'] %}
                <tr>
                    <td>{{item['name'] or item['title'] or item['email'] }}</td>
                    <td>{{item['owner']}}</td>
                    {% if item['report_date'] %} <td>{{item['report_date']}}</td> {% endif %}
                    <td><a href="/{{ data['plural_slug'] }}/{{item['id']}}">View</a></td>
                    <td><a href="/{{ data['plural_slug'] }}/{{item['id']}}/edit">Edit</a></td>
                    <td><a href="/{{ data['plural_slug'] }}/{{item['id']}}/delete">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No events found.</p>
        {% endif %}
        <p><a href="/{{ data['plural_slug'] }}/add">Add a new {{ data['name'] }}</a></p>

    {% endif %}

{% endblock %}
