{% extends "data_template.html" %}

{% block left_bar %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actors.css') }}" />
    <link rel="stylesheet" href="/static/css/plugins/jquery-ui.css">
    <script src="/static/js/plugins/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% if needs_admin and not current_user.is_admin %}
        <div class="only_admin">Only administrators can access this section.</div>
    {% else %}

        {% if request.args.get('success') %}
            <p class="bg-success new_actor_success">Operation successful.</p>
        {% endif %}

        {% if action=='add' %}<h3>Add new {{ data['name'] }}</h3>{% else %}<h3>Edit {{ data['name'] }}</h3>{% endif %}

        <div class="new_event_form">

            <form method="POST" action="{% if action=='add' %}/{{ data['plural_slug'] }}/add?{% else %}/{{ data['plural_slug'] }}/{{ data['data'].id }}/edit{% endif %}" class="" role="form" enctype=multipart/form-data>

                {% for field in form %}

                <div class="form-group">
                    {% if field.type == "FileField" %}
                         <div class="form_actor_label">{{ field.label }}</div>
                         <div class="form_actor_field {% if field.errors %}has-error{% endif %}">
                           {{form.documents(multiple="") }}
                        </div>
                    {% elif field.type == "RadioField" %}
                        <div class="form_actor_label">{{ field.label }}</div>
                        <label class="gender_label {% if form.errors %}has-error{% endif %}">{{ field }}</label>
                    {% else %}
                        {% if field.name == "sources" or field.name == "witnesses" or field.name == "victims" or field.name == "perpetrators" %}
                            <div class="form_actor_label">{{ field.label }}</div>
                            <div class="form_actor_field">
                                <input class="form-control" placeholder="Type to search..." name="{{ field.name }}" id="{{ field.name }}" value="{% if field.object_data != None %}{% for x in field.object_data %}{{x.name}},{% endfor %}{% endif %}">
                            </div>
                        {% else %}
                        <div class="form_actor_label">{{ field.label }}</div>
                        <div class="form_actor_field {% if field.errors %}has-error{% endif %}">
                          {{ field(class_="form-control", placeholder=field.description, rows=0)}}
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if field.errors %}<div class="validation_error">{{ field.errors[0] }}</div>{% endif %}

                </div>
                {% endfor %}
                <div class="form_actor_field"><input type="submit" value="save" class="new_actor_bt btn btn-success"></div>
            </form>
        </div>

    {% endif %}

{% endblock %}
