{% extends "report_template.html" %}

{% block left_bar %}

<script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/daterangepicker.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/daterangepicker-bs3.css') }}" />

<script src="{{ url_for('static', filename='js/plugins/d3.v3.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/ol.css') }}" type="text/css">
<script src="{{ url_for('static', filename='js/plugins/ol.js') }}"></script>


<h3 class="data_filters"><i class="fa fa-filter"></i> {{ _("Data filters") }}</h3>

<div class="filters_items">
<!--
   <div class="filter_title">Violation type</div>
    <ul class="filter_types">
        {% for violation in rights_violation_types %}
        <li><input value="{{ violation.id }}" checked="checked" type="checkbox" id="violation_option{{violation.id}}" class="filter_option_type" name=""><label for="violation_option{{violation.id}}">{{ violation.name }}</label></li>
        {% endfor %}
    </ul>


    <div class="filter_title">Locations</div>
    <ul class="filter_organisations">
        {% for locations in locations %}
        <li><input value="{{ locations.id }}" checked="checked" type="checkbox" id="location_option{{locations.id}}" class="filter_option_type" name=""><label for="location_option{{locations.id}}">{{ locations.name }}</label></li>
        {% endfor %}
    </ul>
-->

    <div class="filter_title">Date range</div>

    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
        <span class="report_result"></span> <b class="caret"></b>
    </div>

</div>

{% endblock %}

{% block content %}

    <div class="section_item_title">
        Number of violations in time, by type
    </div>

    <div id="multi_series"></div>
    <div class="privacy_tools_loading"><img src="/static/images/loading.gif"></div>
    <p class="click_drag_instructions">Click and drag here to zoom</p>

<!--
    <div class="section_item_title">
        Violations map
    </div>
    <div id="map" class="map"></div>
-->
    <br><br>
    <table id="events_table" class="table">
        <tr>
            <!--<th>From Date/time</th>
            <th>To Date/time</th>-->
            <th>Report date</th>
            <th>Location</th>
            <th>Event type</th>
            <th>Description</th>
            <th>Victims</th>
            <th>Source</th>
            <th>Event title</th>
            <th>Action</th>
        </tr>
        </table>
    <script src="{{ url_for('static', filename='js/reports.js') }}"></script>

{% endblock %}
